<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.business.web.mapper.StudyVideoMapper">
  <resultMap id="BaseResultMap" type="com.blog.business.web.domain.StudyVideo">
    <!--@mbg.generated-->
    <!--@Table t_study_video-->
    <id column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="file_uid" jdbcType="VARCHAR" property="fileUid" />
    <result column="resource_sort_uid" jdbcType="VARCHAR" property="resourceSortUid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="baidu_path" jdbcType="VARCHAR" property="baiduPath" />
    <result column="click_count" jdbcType="VARCHAR" property="clickCount" />
    <result column="status" jdbcType="BOOLEAN" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="parent_uid" jdbcType="VARCHAR" property="parentUid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    `uid`, file_uid, resource_sort_uid, `name`, summary, content, baidu_path, click_count,
    `status`, create_time, update_time, parent_uid
  </sql>
</mapper>
