<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.business.mapper.LinkMapper">
    <resultMap id="BaseResultMap" type="com.blog.business.domain.Link">
        <!--@mbg.generated-->
        <!--@Table t_link-->
        <id column="uid" jdbcType="VARCHAR" property="uid"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="summary" jdbcType="VARCHAR" property="summary"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="click_count" jdbcType="INTEGER" property="clickCount"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="status" jdbcType="BOOLEAN" property="status"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="link_status" jdbcType="BOOLEAN" property="linkStatus"/>
        <result column="user_uid" jdbcType="VARCHAR" property="userUid"/>
        <result column="admin_uid" jdbcType="VARCHAR" property="adminUid"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="file_uid" jdbcType="VARCHAR" property="fileUid"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        `uid`, title, summary, url, click_count, create_time, update_time, `status`, sort,
        link_status, user_uid, admin_uid, email, file_uid
    </sql>
    <select id="getLink" resultMap="BaseResultMap">
        select `uid`,
               title,
               summary,
               url,
               click_count,
               create_time,
               update_time,
               `status`,
               sort,
               link_status,
               user_uid,
               admin_uid,
               email,
               file_uid
        from t_link
        where status = #{status,jdbcType=INTEGER}
          and link_status = #{linkStatus,jdbcType=VARCHAR}
        order by sort
    </select>
</mapper>
