<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.business.web.mapper.LinkMapper">
    <resultMap id="BaseResultMap" type="com.blog.business.web.domain.Link">
        <!--@mbg.generated-->
        <!--@Table t_link-->
        <id column="uid" jdbcType="VARCHAR" property="uid"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="summary" jdbcType="VARCHAR" property="summary"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="click_count" jdbcType="INTEGER" property="clickCount"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="status" jdbcType="BOOLEAN" property="status"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="link_status" jdbcType="BOOLEAN" property="linkStatus"/>
        <result column="user_uid" jdbcType="VARCHAR" property="userUid"/>
        <result column="admin_uid" jdbcType="VARCHAR" property="adminUid"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="file_uid" jdbcType="VARCHAR" property="fileUid"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        `uid`, title, summary, url, click_count, create_time, update_time, `status`, sort,
        link_status, user_uid, admin_uid, email, file_uid
    </sql>
    <select id="getLink" resultMap="BaseResultMap">
        select `uid`,
               title,
               summary,
               url,
               click_count,
               create_time,
               update_time,
               `status`,
               sort,
               link_status,
               user_uid,
               admin_uid,
               email,
               file_uid
        from t_link
        where status = #{status,jdbcType=INTEGER}
          and link_status = #{linkStatus,jdbcType=VARCHAR}
        order by sort
    </select>

    <select id="getLinkList" resultMap="BaseResultMap">
        select a.`uid`,
               a.title,
               a.summary,
               a.url,
               a.click_count,
               a.create_time,
               a.update_time,
               a.`status`,
               a.sort,
               a.link_status,
               a.user_uid,
               a.admin_uid,
               a.email,
               a.file_uid
        from t_link a
        <where>
            a.status = 1
            <if test="linkVO.keyword != null and linkVO.keyword != ''">
                <bind name="titleTemp" value="'%' + linkVO.keyword + '%'"/>
                and a.title like #{linkVO.keyword,jdbcType=VARCHAR}
            </if>
            <if test="linkVO.linkStatus != null">
                and a.link_status = #{linkVO.linkStatus,jdbcType=INTEGER}
            </if>
        </where>
        <if test="linkVO.orderByAscColumn != null and linkVO.orderByAscColumn != ''">
            order by ${linkVO.orderByAscColumn}
        </if>
        <if test="linkVO.orderByDescColumn != null and linkVO.orderByDescColumn != ''">
            order by ${linkVO.orderByDescColumn} desc
        </if>
    </select>
</mapper>
