<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.business.web.mapper.PictureSortMapper">
    <resultMap id="BaseResultMap" type="com.blog.business.web.domain.PictureSort">
        <!--@mbg.generated-->
        <!--@Table t_picture_sort-->
        <id column="uid" jdbcType="VARCHAR" property="uid"/>
        <result column="file_uid" jdbcType="VARCHAR" property="fileUid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="status" jdbcType="BOOLEAN" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="parent_uid" jdbcType="VARCHAR" property="parentUid"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="is_show" jdbcType="BOOLEAN" property="isShow"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        `uid`, file_uid, `name`, `status`, create_time, update_time, parent_uid, sort, is_show
    </sql>

    <select id="getPageList" resultMap="BaseResultMap">
        select a.`uid`,
               a.file_uid,
               a.`name`,
               a.`status`,
               a.create_time,
               a.update_time,
               a.parent_uid,
               a.sort,
               a.is_show
        from t_picture_sort a
        <where>
            a.status=1
            <if test="pictureSortVO.keyword != null and pictureSortVO.keyword != ''">
                <bind name="nameTemp" value="'%' + pictureSortVO.keyword + '%'"/>
                and a.name like #{nameTemp,jdbcType=VARCHAR}
            </if>
            <if test="pictureSortVO.isShow != null">
                and a.is_show = 1
            </if>
        </where>
        order by a.sort desc
    </select>
</mapper>
