<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.business.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.blog.business.domain.Role">
    <!--@mbg.generated-->
    <!--@Table t_role-->
    <id column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="BOOLEAN" property="status" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="category_menu_uids" jdbcType="LONGVARCHAR" property="categoryMenuUids" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    `uid`, role_name, create_time, update_time, `status`, summary, category_menu_uids
  </sql>
</mapper>
