<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.business.mapper.SystemConfigMapper">
  <resultMap id="BaseResultMap" type="com.blog.business.domain.SystemConfig">
    <!--@mbg.generated-->
    <!--@Table t_system_config-->
    <id column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="qi_niu_access_key" jdbcType="VARCHAR" property="qiNiuAccessKey" />
    <result column="qi_niu_secret_key" jdbcType="VARCHAR" property="qiNiuSecretKey" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="email_user_name" jdbcType="VARCHAR" property="emailUserName" />
    <result column="email_password" jdbcType="VARCHAR" property="emailPassword" />
    <result column="smtp_address" jdbcType="VARCHAR" property="smtpAddress" />
    <result column="smtp_port" jdbcType="VARCHAR" property="smtpPort" />
    <result column="status" jdbcType="BOOLEAN" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="qi_niu_bucket" jdbcType="VARCHAR" property="qiNiuBucket" />
    <result column="qi_niu_area" jdbcType="VARCHAR" property="qiNiuArea" />
    <result column="upload_qi_niu" jdbcType="VARCHAR" property="uploadQiNiu" />
    <result column="upload_local" jdbcType="VARCHAR" property="uploadLocal" />
    <result column="picture_priority" jdbcType="VARCHAR" property="picturePriority" />
    <result column="qi_niu_picture_base_url" jdbcType="VARCHAR" property="qiNiuPictureBaseUrl" />
    <result column="local_picture_base_url" jdbcType="VARCHAR" property="localPictureBaseUrl" />
    <result column="start_email_notification" jdbcType="VARCHAR" property="startEmailNotification" />
    <result column="editor_model" jdbcType="BOOLEAN" property="editorModel" />
    <result column="theme_color" jdbcType="VARCHAR" property="themeColor" />
    <result column="minio_end_point" jdbcType="VARCHAR" property="minioEndPoint" />
    <result column="minio_access_key" jdbcType="VARCHAR" property="minioAccessKey" />
    <result column="minio_secret_key" jdbcType="VARCHAR" property="minioSecretKey" />
    <result column="minio_bucket" jdbcType="VARCHAR" property="minioBucket" />
    <result column="upload_minio" jdbcType="BOOLEAN" property="uploadMinio" />
    <result column="minio_picture_base_url" jdbcType="VARCHAR" property="minioPictureBaseUrl" />
    <result column="open_dashboard_notification" jdbcType="BOOLEAN" property="openDashboardNotification" />
    <result column="dashboard_notification" jdbcType="LONGVARCHAR" property="dashboardNotification" />
    <result column="content_picture_priority" jdbcType="BOOLEAN" property="contentPicturePriority" />
    <result column="open_email_activate" jdbcType="BOOLEAN" property="openEmailActivate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    `uid`, qi_niu_access_key, qi_niu_secret_key, email, email_user_name, email_password, 
    smtp_address, smtp_port, `status`, create_time, update_time, qi_niu_bucket, qi_niu_area, 
    upload_qi_niu, upload_local, picture_priority, qi_niu_picture_base_url, local_picture_base_url, 
    start_email_notification, editor_model, theme_color, minio_end_point, minio_access_key, 
    minio_secret_key, minio_bucket, upload_minio, minio_picture_base_url, open_dashboard_notification, 
    dashboard_notification, content_picture_priority, open_email_activate
  </sql>
</mapper>