<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.business.web.mapper.TagMapper">
    <resultMap id="BaseResultMap" type="com.blog.business.web.domain.Tag">
        <!--@mbg.generated-->
        <!--@Table t_tag-->
        <id column="uid" jdbcType="VARCHAR" property="uid"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="status" jdbcType="BOOLEAN" property="status"/>
        <result column="click_count" jdbcType="INTEGER" property="clickCount"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        `uid`, content, `status`, click_count, create_time, update_time, sort
    </sql>

    <select id="getHotTag" resultMap="BaseResultMap">
        select `uid`, content, `status`, click_count, create_time, update_time, sort
        from t_tag
        where status = #{status,jdbcType=INTEGER}
    </select>

    <select id="getPageList" resultMap="BaseResultMap">
        select `uid`, content, `status`, click_count, create_time, update_time, sort
        from t_tag
        <where>
            status=1
            <if test="tagVO.keyword != null and tagVO.keyword != ''">
                <bind name="contentTemp" value="'%' + tagVO.keyword + '%'"/>
                and content like #{contentTemp,jdbcType=VARCHAR}
            </if>
        </where>
        <if test="tagVO.orderByAscColumn != null and tagVO.orderByAscColumn != ''">
            order by ${tagVO.orderByAscColumn}
        </if>
        <if test="tagVO.orderByDescColumn != null and tagVO.orderByDescColumn != ''">
            order by ${tagVO.orderByDescColumn} desc
        </if>
    </select>
</mapper>
